<div class="popup-container">
  <div class="popup">
    <form [formGroup]="moduleForm" (ngSubmit)="submitModule()">
      <p-card header="Add Module" [style]="{ width: '360px' }">
        <div class="field">
          <label for="title">Title</label>
          <input type="text" pInputText formControlName="title" class="w-full" placeholder="Enter module title" />
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea pInputTextarea formControlName="description" class="w-full" placeholder="Enter module description"></textarea>
        </div>

        <p-button label="Add Module" styleClass="w-full" [disabled]="moduleForm.invalid" type="submit"></p-button>
        <p-button label="Cancel" styleClass="w-full" (click)="closePopup()"></p-button>
      </p-card>
    </form>
  </div>
</div>

