<div class="popup-container">
  <div class="popup">
    <form [formGroup]="moduleForm" (ngSubmit)="submitModule()">
      <p-card header="Add Module" [style]="{ width: '360px' }">
        <div class="field">
          <label for="title">Title</label>
          <input type="text" pInputText formControlName="title" class="w-full" placeholder="Enter module title" />
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea pInputTextarea formControlName="description" class="w-full" placeholder="Enter module description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="moduleForm.invalid">
          Add Module
        </button>
        <button type="button" class="btn btn-secondary w-100 mt-2" (click)="closePopup()">
          Cancel
        </button>
      </p-card>
    </form>
  </div>
</div>

