<app-nav-bar></app-nav-bar>

<div class="container-fluid" *ngIf="selectedOption !== 'view-problems'">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 py-4">
      <div class="row">
        <div class="col-md-3 py-4">
          <div class="mt-4">
            <button class="btn btn-primary w-100 mb-3" (click)="selectedOption = 'courses'">Adaugă cursuri</button>
            <button class="btn btn-primary w-100 mb-3" (click)="selectedOption = 'users'">Adaugă utilizatori</button>
            <button class="btn btn-primary w-100 mb-3" (click)="selectedOption = 'handle-users'">Administrează utilizatorii</button>
            <button class="btn btn-primary w-100 mb-3" (click)="selectedOption = 'add-problems'">Adaugă exerciţii</button>
            <button class="btn btn-primary w-100 mb-3" (click)="selectedOption = 'view-problems'">Vizualizează lista de exerciţii</button>
            <button class="btn btn-primary w-100" (click)="selectedOption = 'handle-courses'">Administreaza cursurile</button>
          </div>
        </div>

        <div class="col-md-9 py-4">
          <div *ngIf="selectedOption === 'courses'">
            <app-admin-handle-courses></app-admin-handle-courses>
          </div>
          <div *ngIf="selectedOption === 'users'">
            <app-admin-handle-user></app-admin-handle-user>
          </div>
          <div *ngIf="selectedOption === 'handle-users'">
            <app-admin-user-course-details></app-admin-user-course-details>
          </div>
          <div *ngIf="selectedOption === 'add-problems'">
            <app-add-problems></app-add-problems>
          </div>
          <div *ngIf="selectedOption === 'handle-courses'">
            <app-handle-courses></app-handle-courses>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedOption === 'view-problems'" class="container-fluid vh-100 d-flex flex-column">
  <div class="d-flex justify-content-end p-3">
    <button class="btn btn-secondary" (click)="exitViewProblems()">Exit</button>
  </div>
  <div class="flex-grow-1">
    <app-view-problems></app-view-problems>
  </div>
</div>

