<ag-grid-angular
  [rowData]="users"
  [gridOptions]="gridOptions"
  class="ag-theme-quartz"
  style="height: 500px; min-height: 300px;">
  (gridReady)="onGridReady($event)"

</ag-grid-angular>
<!--<div class="example-wrapper">-->
<!--  <div class="example-header">-->
<!--    Selection:-->
<!--    <span id="selectedRows"></span>-->
<!--  </div>-->
<!--  <div id="myGrid" class="ag-theme-quartz"  style="height: 500px; min-height: 300px;"></div>-->
<!--</div>-->
<form [formGroup]="registerForm" (ngSubmit)="registerTeacher()">
  <p-card header="Add User" [style]="{ width: '800px' }">
    <div class="field">
      <label for="firstName">FirstName</label>
      <input
        type="text"
        pInputText
        formControlName="firstName"
        class="w-full"
        name="firstName"
        placeholder="Type your name"
      />
      <small
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="block p-error"
      >
        <div *ngIf="firstName.errors?.['required']">Name is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="lastName">Last name</label>
      <input
        type="text"
        pInputText
        formControlName="lastName"
        class="w-full"
        name="lastName"
        placeholder="Type your name"
      />
      <small
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="block p-error">
        <div *ngIf="lastName.errors?.['required']">Name is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <p-button
      label="Register user"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>



  </p-card>
</form>

