<form [formGroup]="registerForm" (ngSubmit)="registerTeacher()">
  <p-card header="Add User" [style]="{ width: '800px' }">
    <div class="field">
      <label for="firstName">FirstName</label>
      <input
        type="text"
        pInputText
        formControlName="firstName"
        class="w-full"
        name="firstName"
        placeholder="Type your name"
      />
      <small
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="block p-error"
      >
        <div *ngIf="firstName.errors?.['required']">Name is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="lastName">Last name</label>
      <input
        type="text"
        pInputText
        formControlName="lastName"
        class="w-full"
        name="lastName"
        placeholder="Type your name"
      />
      <small
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="block p-error">
        <div *ngIf="lastName.errors?.['required']">Name is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <p-button
      label="Register user"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>



  </p-card>
</form>
<ag-grid-angular
  [rowData]="users"
  [gridOptions]="gridOptions"
  class="ag-theme-quartz"
  style="height: 80vh;"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteUser()" [disabled]="!selectedData || selectedData.length === 0"></button>

<form [formGroup]="courseForm" (ngSubmit)="onCreateCourse()">
  <div>
    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" formControlName="courseName" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" formControlName="category" required>
  </div>


  <button type="submit" [disabled]="courseForm.invalid">Create Course</button>
</form>
