<div class="card mt-3">
  <div class="card-header">Adaugă temă</div>
  <div class="card-body">
    <form [formGroup]="homeworkForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="assignment" class="form-label">Exerciţiu:</label>
        <app-view-problems (assignmentSelected)="onAssignmentSelected($event)"></app-view-problems>
        <div *ngIf="selectedAssignment">
          <p>Selected Assignment: {{ selectedAssignment.title }}</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="dueDate" class="form-label">Termen limită</label>
        <input type="date" class="form-control" formControlName="dueDate">
      </div>
      <button type="submit" class="btn btn-primary w-2 mr-2" [disabled]="homeworkForm.invalid">Adaugă temă</button>
      <button type="button" class="btn btn-secondary w-2" (click)="onPopupClosed()">Anulează</button>
    </form>
  </div>
</div>
