/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'quill/dist/quill.snow.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import 'ngx-toastr/toastr';

.background-image {
  background-image: linear-gradient(#26beb1 50%, rgba(52, 225, 231, 0.3) 100%);
  background-color: #1C1E32;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

