/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'quill/dist/quill.snow.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';


.background-image {
  background-image: url('./assets/pieces-blue-stationery.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

