<app-nav-bar></app-nav-bar>
<div class="d-flex vh-100 justify-content-center align-items-center">
<form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
  <p-card header="Edit Profile" [style]="{width: '360px'}">
    <div *ngIf="profileError" class="block p-error">Failed to update profile. Please try again.</div>

    <!-- First Name Field -->
    <div class="field">
      <label for="firstName">First Name</label>
      <input type="text" pInputText formControlName="firstName" class="w-full" placeholder="Enter your first name" />
      <small *ngIf="profileForm.get('firstName')?.invalid && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)" class="block p-error">
        <div *ngIf="profileForm.get('firstName')?.errors?.['required']">First name is required.</div>
      </small>
    </div>

    <!-- Last Name Field -->
    <div class="field">
      <label for="lastName">Last Name</label>
      <input type="text" pInputText formControlName="lastName" class="w-full" placeholder="Enter your last name" />
      <small *ngIf="profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)" class="block p-error">
        <div *ngIf="profileForm.get('lastName')?.errors?.['required']">Last name is required.</div>
      </small>
    </div>

    <!-- Email Field -->
    <div class="field">
      <label for="email">Email</label>
      <input type="email" pInputText formControlName="email" class="w-full" placeholder="Enter your email" />
      <small *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)" class="block p-error">
        <div *ngIf="profileForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="profileForm.get('email')?.errors?.['email']">Enter a valid email.</div>
      </small>
    </div>




    <button type="submit" class="btn btn-primary w-100 mb-2 me-2" [disabled]="profileForm.invalid">
      Update Profile
    </button>
    <button type="button" class="btn btn-secondary w-100 mb-2" (click)="loadUserProfile()">
      Cancel
    </button>

  </p-card>
</form>
</div>
