<app-nav-bar></app-nav-bar>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h3>{{ assignment?.title }}</h3>
          <div class="mb-3">
            <div [formGroup]="viewForm">
              <quill-editor formControlName="content" [modules]="modules" [readOnly]="true" [style]="{'height':'auto'}"></quill-editor>
            </div>
          </div>
          <!-- Display the due date -->
          <div class="mb-3">
            <p>Termen limită: {{ formatDate(assignment?.dueDate) }}</p>
          </div>
          <div *ngIf="submittedFilePath">
            <p>Ultima incărcare a temei: {{ submittedFilePath | removeUUID }}</p>
            <button (click)="downloadSubmission(submittedFilePath)" class="btn btn-info">Descarca tema</button>
          </div>
          <div class="mb-3" *ngIf="!isExpired()">
            <label for="fileUpload" class="form-label">Încarca tema</label>
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" class="form-control">
            <button (click)="onSubmit()" class="btn btn-primary mt-3">Încarca</button>
          </div>
          <div class="mb-3" *ngIf="isExpired()">
            <p class="text-danger">The due date has passed. You cannot submit the assignment.</p>
          </div>
        </div>
      </div>
      <div *ngIf="grade !== undefined || feedback !== undefined || solutionContent" class="card mt-4">
        <div class="card-body">
          <div *ngIf="grade !== undefined">
            <h4>Nota:</h4>
            <p>{{ grade }}</p>
          </div>
          <div *ngIf="feedback !== undefined">
            <h4>Recenzia temei:</h4>
            <p>{{ feedback }}</p>
          </div>
          <div *ngIf="solutionContent">
            <h4>Rezolvarea corectă</h4>
            <div [formGroup]="solutionForm">
              <quill-editor formControlName="solution" [modules]="modules" [readOnly]="true" [style]="{'height':'auto'}"></quill-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
